/* ------------------------------------------------------------ *\
	Section Bookies
\* ------------------------------------------------------------ */

.section-bookies {
	display: flex; 
	flex-direction: column;
	height: 100vh; 
	max-width: 1500px;
	margin: auto; 
	padding: 50px 0; 

	&__inner {
		display: flex; 
		flex-direction: column;
		height: 100%; 
		padding: 15px 10px 0 15px; 
		background: #F1F3F9; 
	}

	&__head {
		padding: 0 20px 15px 0; 
	}

	&__body {
		flex: 1;
		overflow: auto;
		padding-right: 20px;  
	}

	&__bar {
		display: flex; 
		align-items: center; 
	}

	&__filter {
		flex: 1;
	}

	&__action {
		margin-bottom: 17px; 
	}

	&__actions {
		display: flex; 
		align-items: center; 
		margin-left: 10px; 

		.btn + .btn {
			margin-left: 5px; 
		}
	}

	&__save {
		min-width: 150px;
	}
}
