<template>
	<section class="section-bookies">
		<div class="section-bookies__inner">
			<div class="section-bookies__head">
				<div class="section-bookies__action">
					<button class="section-bookies__save btn btn--default" @click="handleSaveButtonClick">Save</button>
				</div><!-- /.section-bookies__action -->
			
				<div class="section-bookies__bar">
					<div class="section-bookies__filter">
						<FilterSelect />
					</div><!-- /.section-bookies__filter -->
			
					<div class="section-bookies__actions">
						<button class="btn" @click="handleCheckAllButtonClick">
							<i class="btn__icon">
								<IcoCheck />
							</i>

							Check All
						</button>
			
						<button class="btn btn--danger" @click="handleUncheckAllButtonClick">
							<i class="btn__icon">
								<IcoX />
							</i>

							Remove All
						</button>
					</div><!-- /.section-bookies__actions -->
				</div><!-- /.section-bookies__bar -->
			</div><!-- /.section-bookies__head -->
		
			<div class="section-bookies__body">
				<Bookies />
			</div><!-- /.section-bookies__body -->
		</div><!-- /.section-bookies__inner -->
	</section><!-- /.section-bookies -->
</template>

<script>
import axios from 'axios'

import { mapGetters, mapActions } from 'vuex';

import Bookies from '../bookies';
import FilterSelect from '../filter';
import IcoX from '../icons/ico-x';
import IcoCheck from '../icons/ico-check';

import './section-bookies.scss';

export default {
	name: 'SectionBookies',
	components: {
		Bookies,
		FilterSelect,
		IcoX,
		IcoCheck,
	},

	computed: {
		...mapGetters(['bookies']),
	},

	methods: {
		...mapActions(['toggleBookiesActiveState']),

		handleCheckAllButtonClick() {
			this.toggleBookiesActiveState(1);
		},

		handleUncheckAllButtonClick() {
			this.toggleBookiesActiveState(0);
		},

		handleSaveButtonClick() {
			this.submit();

			// this.saveFile();
		},

		submit() {
			console.log('Request Payload', this.bookies);
			// axios.post('http://localhost', this.bookies);
		},

		saveFile() {
			const data = JSON.stringify(this.bookies);
			const blob = new Blob([data], { type: 'text/plain' });
			const aNode = document.createElement('a');

			aNode.download = 'bookies.json';
			aNode.href = window.URL.createObjectURL(blob);
			aNode.dataset.downloadurl = ['text/json', aNode.download, aNode.href].join(':');

			aNode.click();
		}
	}
}
</script>
