<template>
	<draggable class="bookies" v-model="bookiesDraggable" group="bookies" @start="drag=true" @end="drag=false">
		<Bookie v-for="(bookie, index) in filteredBookies" :key="bookie.id" :bookie="bookie" :index="index" />
	</draggable><!-- /.bookies -->
</template>

<script>
	import draggable from 'vuedraggable';


	import './bookies.scss';
	import Bookie from '../bookie';

	import { mapActions, mapGetters } from 'vuex';

	export default {
		name: 'Bookies',

		components: {
			Bookie,
			draggable,
		},

		computed: {
			...mapGetters(['bookies', 'filteredBookies']),

			bookiesDraggable: {
				get() {
					return this.bookies;
				},

				set(value) {
					this.updateBookiesOrder(value);
				}
			}
		},

		methods: {
			...mapActions(['fetchBookies', 'fetchCountries', 'updateBookiesOrder']),
		},

		mounted() {
			this.fetchBookies();

			this.fetchCountries();
		}
	}
</script>
