<template>
	<v-select :options="filterOptions" :reduce="country => country.code" v-model="term"></v-select>
</template>

<script>
	import vSelect from 'vue-select';

	import { mapGetters, mapActions } from 'vuex';

	import './filter.scss';

	export default {
		name: 'FilterSelect',

		components: {
			vSelect,
		},

		computed: {
			...mapGetters(['bookies', 'filterTerm']),

			term: {
				get() {
					return this.filterTerm
				},

				set(value) {
					this.updateFilterTerm(value);
				}
			},

			filterOptions() {
				const options = this.bookies.map(item => ({
					code: item.slug,
					label: item.name
				}));

				return [
					{
						code: 'all',
						label: '- Show All -'
					},

					{
						code: 'active',
						label: '- Show Active -'
					},

					{
						code: 'inactive',
						label: '- Show Inactive -'
					},
					
					...options
				];
			}
		},

		methods: {
			...mapActions(['updateFilterTerm'])
		}
	}
</script>
