/* ------------------------------------------------------------ *\
	Bookie
\* ------------------------------------------------------------ */

.bookie {
	display: flex; 
	padding: 15px 0; 

	&:first-child {
		padding-top: 0; 
	}

	& + .bookie {
		border-top: 1px solid #D7DAE4; 
	}

	&__order {
		width: 20px; 
		color: #03293F; 
		margin-top: 22px; 
	}

	&__check {
		width: 30px; 
		margin: 18px 40px 0 0; 
	}

	&__title {
		width: 130px; 
	}

	&__content {
		max-width: 870px;
		width: 100%;
		margin-left: auto; 

	}

	&__url {
		display: flex; 
		align-items: center; 

		& + .bookie__url {
			margin-top: 7px; 
		}

		&__aside {
			flex: 0 0 135px;
			width: 135px; 
		}

		&__content {
			display: flex; 
			width: 100%; 
			margin-left: 5px; 

			.field {
				flex: 1;
			}
		}

		&__label {
			display: block; 
			text-align: right; 
			font-weight: bold; 
		}
	}

	&__field {
		width: 100%; 
	}

	&__title {
		text-align: center; 
	}

	&__label {
		display: block; 
	}

	.vs__selected {
		width: 100%; 
		padding-right: 23px; 
		display: block; 
		overflow: hidden; 
		text-overflow: ellipsis; 
		text-transform: none; 
		margin-top: 7px; 
		padding-left: 10px; 
		color: #4E5467;
		white-space: nowrap;  
	}

	.vs__selected-options {
		width: 100%; 
		padding-right: 0; 
	}

	.vs--single.vs--open .vs__selected {
		top: 0; 
	}
}
