<template>
	<div class="bookie" v-if="bookie">
		<div class="bookie__order">
			{{bookie.order}}
		</div><!-- /.bookie__order -->

		<div class="bookie__check">
			<div class="checkbox">
				<input
					type="checkbox"
					:name="bookie.slug"
					:id="bookie.slug"
					:checked="bookie.active === 1"
					@change="handleCheckboxChange($event)"
				/>

				<label :for="bookie.slug">Label</label>
			</div><!-- /.checkbox -->
		</div><!-- /.bookie__check -->

		<div class="bookie__title">
			<img src="@/assets/images/1xbet.svg" alt="">

			<span class="bookie__label">{{bookie.name}}</span>
		</div><!-- /.bookie__title -->

		<div class="bookie__content">
			<div class="bookie__url">
				<div class="bookie__url__aside">
					<span class="bookie__url__label">Default:</span>
				</div><!-- /.bookie__url__aside -->

				<div class="bookie__url__content">
					<input type="text" class="field" v-model="linkDefault" />

					<button class="btn-icon btn-icon--success" @click="handleAddLinkButton">
						<IcoPlus />
					</button>
				</div><!-- /.bookie__url__content -->
			</div><!-- /.bookie__url -->

			<div class="bookie__url" v-for="(linkItem, index) in links">
				<div class="bookie__url__aside">
					<div class="select">
						<v-select :options="countryOptions" :reduce="country => country.code" v-model="linkItem.code"></v-select>
					</div><!-- /.select -->
				</div><!-- /.bookie__url__aside -->

				<div class="bookie__url__content">
					<input type="text" class="field" v-model="linkItem.value" @change="handleLinkInputChange" />

					<button class="btn-icon btn-icon--danger" @click="removeLink(index)">
						<IcoX />
					</button>
				</div><!-- /.bookie__url__content -->
			</div><!-- /.bookie__url -->
		</div><!-- /.bookie__content -->
	</div><!-- /.bookie -->
</template>

<script>
	import vSelect from 'vue-select';

	import './bookie.scss';
	import Vue from 'vue';
	import IcoX from '../icons/ico-x';
	import IcoPlus from '../icons/ico-plus';

	import { mapGetters, mapActions } from 'vuex';

	export default {
		name: 'Bookie',

		props: ['bookie', 'index'],

		components: {
			IcoX,
			IcoPlus,
			vSelect,
		},

		data: () => ({
			links: []
		}),

		computed: {
			...mapGetters(['countries']),

			linkDefault: {
				get()  {
					return this.bookie.links.default;
				},

				set(value) {
					const payload = {
						id: this.bookie.id,
						linkDefault: value
					}

					this.updateBookieLinkDefault(payload);
				}
			},

			countryOptions() {
				const options = this.countries.map(item => ({
					code: item.code,
					label: item.name
				}));

				return [
					{
						code: '0',
						label: 'Please Select'
					},
					...options
				];
			}
		},

		methods: {
			...mapActions(['updateBookieActiveState', 'updateBookieLinkDefault', 'updateBookieLinks']),

			handleCheckboxChange($event) {
				const value = $event.target.checked ? 1 : 0;

				const payload = {
					id: this.bookie.id,
					active: value,
				}

				this.updateBookieActiveState(payload);
			},

			handleAddLinkButton() {
				this.addNewLink();
			},

			addNewLink() {
				this.links.push(Vue.util.extend({}, {
					code: '0',
					value: this.linkDefault
				}))
			},

			removeLink(index) {
				Vue.delete(this.links, index);

				this.sendLinksToStore();
			},

			handleLinkInputChange() {
				this.sendLinksToStore();
			},

			sendLinksToStore() {
				let normalizedLinks = {}

				const verifiedLinks = this.links.filter(item => item.code !== '0');

				verifiedLinks.forEach(item => {
					const { code, value } = item;

					normalizedLinks = {
						...normalizedLinks,
						[code]: value
					}
				});

				this.updateBookieLinks({
					id: this.bookie.id,
					links: normalizedLinks
				});
			}
		},

		mounted() {
			const { default: defaultAlias, ...rest} = this.bookie.links;

			const normalizedLinks = Object.keys(rest).map(key => {
				return {
					code: key,
					value: rest[key]
				}
			});

			this.links = normalizedLinks;
		}
	}
</script>
