/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	@include reset-button;
	
	padding: 0 20px; 
	height: 40px; 
	border-radius: 2px;
	background: #023955; 
	font-size: 15px; 
	color: #fff;
	letter-spacing: .03em; 
	text-transform: uppercase;  

	transition: .3s;

	&:hover {
		background: darken(#023955, 10%);
	}

	&__icon {
		margin: 0 12px 0 -5px; 
		font-size: 0; 
	}

	&--danger {
		background: #E2002E; 

		&:hover {
			background: darken(#E2002E, 10%);
		}
	}

	&--default {
		background: #017AAF;

		&:hover {
			background: darken(#017AAF, 10%);
		}
	}
}
