/* ------------------------------------------------------------ *\
	Button Icon
\* ------------------------------------------------------------ */

.btn-icon {
	@include reset-button;
	
	width: 40px; 
	height: 40px; 	
	color: #fff; 

	transition: .3s;

	&--success {
		background: #5BCB34; 

		&:hover {
			background: darken(#5BCB34, 10%);
		}
	}

	&--danger {
		background: #E2002E; 

		&:hover {
			background: darken(#E2002E, 10%);
		}
	}
}
