@import 'vue-select/src/scss/vue-select.scss';

/* ------------------------------------------------------------ *\
	Vue Select
\* ------------------------------------------------------------ */


.vs__dropdown-toggle {
	height: 40px; 
	background: #fff; 
	border: 1px solid #E4E7F1; 
}

.vs__selected {
	font-size: 15px; 
	color: #9E9E9E;
	text-transform: uppercase;  
	margin-left: 0; 
	padding-left: 20px; 
}


.vs--single.vs--open .vs__selected {
	top: 4px; 
}

.vs__dropdown-menu {
	min-width: 200px; 
	font-size: 15px;
}

.vs__clear {
	display: none; 
}

.vs__open-indicator {
	display: none; 
}

.vs__actions {
	position: absolute; 
	top: 50%;
	margin-top: -7px; 
	right: 0; 
	padding-right: 12px;
	font-size: 0; 

	&:before {
		content: '';
		display: block; 
		width: 11px; 
		height: 6px; 
		background: url('../assets/images/down-arrow.svg') 0 0 no-repeat;
		transition: .3s;
	}

	.vs--open &:before {
		transform: rotate(180deg); 
	}
}
