/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox {
	position: relative; 
	font-size: 0; 

	input {
		position: absolute; 
		z-index: -1; 
		opacity: 0; 
	}

	label {
		position: relative; 
		display: inline-block; 
		padding-left: 30px; 

		&:before {
			content: '';
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 30px; 
			height: 30px; 
			border: 1px solid #E4E7F1; 
			background: #fff; 
		}
	}

	input:checked + label {
		&:before {
			background: #fff url('../assets/images/checked.svg') center center no-repeat;

		}
	}
}

/* ------------------------------------------------------------ *\
	Field
\* ------------------------------------------------------------ */

.field {
	display: block; 
	width: 100%; 
	height: 40px; 
	padding: 0 15px; 
	border: 1px solid rgba(#E4E7F1, .21); 
	background: rgba(#7B839A, .21); 
	border-radius: 2px;
	font-family: inherit;
	font-size: 15px; 
	color: #395669;  
	transition: .3s;

	&:focus {
		border-color: #395669; 
	}
}
