/* ------------------------------------------------------------ *\
	Mixins
\* ------------------------------------------------------------ */

@mixin reset-button {
	display: inline-flex;
	align-items: center; 
	justify-content: center; 
	border: 0; 
	border-radius: 0;
	appearance: none;
	cursor: pointer; 
}
