/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after {
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
	outline: 0; 
}
