<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="18.001" height="18.001" viewBox="0 0 18.001 18.001">
		<path d="M18 8.143H9.858V0H8.143v8.143H0v1.715h8.143V18h1.715V9.858H18z" fill="currentColor"/>
	</svg>
</template>

<script>
	export default {
		name: 'IcoPlus'
	}
</script>
