<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="17.053" height="17.053" viewBox="0 0 17.053 17.053">
		<path d="M17.053 1.055L16 0 8.526 7.472 1.055 0 0 1.055l7.472 7.471L0 16l1.055 1.055 7.471-7.474L16 17.053 17.053 16 9.581 8.526z" fill="currentColor"/>
	</svg>
</template>

<script>
	export default {
		name: 'IcoX'
	}
</script>
