<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="19.95" height="13.82" viewBox="0 0 19.95 13.82">
		<path d="M18.91 0L7.171 11.739l-6.13-6.13L0 6.649l7.171 7.171 12.78-12.78z" fill="currentColor"/>
	</svg>
</template>

<script>
	export default {
		name: 'IcoCheck'
	}
</script>
