<template>
	<div class="wrapper">
		<SectionBookies />
	</div>
</template>

<script>
import SectionBookies from './components/section-bookies';

export default {
	name: 'app',
	components: {
		SectionBookies
	}
}
</script>
